__pycache__/
simulation/
test.py
*.pdf
*.txt

*.dat
!polars.dat
!polars_staeblein.dat
!info_polar.dat
!unsteady*.dat
!Cd*.dat
!Cl*.dat
!Cm*.dat
!cases*.dat
!f_s.dat
!validation_speeds.txt

*.json
*.mp4
*.tar
